li a:hover{
    background-color: silver;
}


.contenedor-xs{
    margin: 0 auto;
}



@media(max-width:763px){
    .contenedor-xs{
        width: 80%;
    }
    .nav-container{
        width: 100%;
    }
}